$height-of-top-div : 150px;

*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    background: #fff
}


.Top{
    height: #{$height-of-top-div};
}
.Main{
    height: calc( 100% - #{$height-of-top-div}  );
    overflow: hidden;
}

.Left,.Right{
    background-color: #000;
    height: 100%;
    width: 50%;
    float: left;
    @media (max-width: 700px){
        width: 100%;
        height: 50%;
    }
 }
 .Right{
    background-color: #fff;
 }

.slider{
    width: 140px;
    .sliderKnob{
        border-radius: 90px;
        width: 20px;
        height: 20px;
        background-color: #111;
        position: relative
    }
    .sliderVisual{

    }
}

.checkbox,.delete{
  width:20px;
  height:20px;
  background-color: #111;
}
